In [1]:
import pandas as  pd

In [2]:
data= {1:[1,2,3],2:[2,3,4],3:[3,4,5]}

In [3]:
data

{1: [1, 2, 3], 2: [2, 3, 4], 3: [3, 4, 5]}

In [4]:
nos = pd.DataFrame(data)

In [5]:
nos

   1  2  3
0  1  2  3
1  2  3  4
2  3  4  5

In [6]:
nos.columns

Int64Index([1, 2, 3], dtype='int64')

In [7]:
nos_with_provided_index = pd.DataFrame(data,index=['Gaurav','Sagar','Sidhesh'])

In [8]:
nos_with_provided_index

         1  2  3
Gaurav   1  2  3
Sagar    2  3  4
Sidhesh  3  4  5

In [9]:
nos_with_provided_index.loc['Gaurav']

1    1
2    2
3    3
Name: Gaurav, dtype: int64

In [10]:
nos_with_provided_index.loc['Sidhesh']

1    3
2    4
3    5
Name: Sidhesh, dtype: int64

In [11]:
print(nos_with_provided_index)

         1  2  3
Gaurav   1  2  3
Sagar    2  3  4
Sidhesh  3  4  5

In [12]:
nos_with_provided_index

         1  2  3
Gaurav   1  2  3
Sagar    2  3  4
Sidhesh  3  4  5

In [13]:
csv_data = pd.read_csv("CAR DETAILS.CSV", index_col=0)

In [14]:
csv_data=  pd.read_csv("CAR DETAILS.CSV")

In [15]:
csv_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [16]:
type(csv_data)

pandas.core.frame.DataFrame

In [17]:
df_json = pd.read_json( "iris.json")

In [18]:
json_data = df_json

In [19]:
json_data

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [20]:
type(json_data)

pandas.core.frame.DataFrame

In [21]:
json_data.loc[145]

sepalLength          6.7
sepalWidth           3.0
petalLength          5.2
petalWidth           2.3
species        virginica
Name: 145, dtype: object

In [22]:
import mysql.connector

In [23]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="2151",
  database="sakila"
)

In [24]:
mydb

In [25]:
cursor=mydb.cursor()

In [26]:
databases= cursor.execute("select * from sakila.actor")

In [27]:
databases

In [28]:
mydb.is_connected()

InternalError: Unread result found

In [ ]:
%load_ext sql

In [ ]:
csv_data

In [ ]:
csv_data.set_index('name')

In [ ]:
csv_data.to_csv("Saving_back.csv")

In [ ]:
json_data

In [ ]:
json_data.to_json("Saving_Back_JSON.json")

In [ ]:
csv_data.head(10)

In [ ]:
csv_data.tail(10)

In [ ]:
csv_data.info()

In [ ]:
csv_data.shape

In [ ]:
csv_data.drop_duplicates()

In [ ]:
csv_data.append(csv_data)

In [ ]:
csv_data.drop_duplicates(inplace=True)

In [ ]:
csv_data

In [ ]:
csv_data

In [ ]:
csv_data.columns

In [ ]:
csv_data.rename( columns={ 'name':'Name'},index={ 1:'One'},inplace=True)

In [ ]:
csv_data

In [ ]:
csv_data.columns=["NAME","YEAR","SELLING_PRICE"]

In [ ]:
csv_data.columns=["NAME","YEAR","SELLING_PRICE","KM","FUEL","SELLER","TRANSMISSION","OWNER"]

In [ ]:
csv_data

In [ ]:
csv_data.columns=[ col_name.lower() for col_name in csv_data ]

In [29]:
csv_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [30]:
print(csv_data)

                                     name  year  selling_price  km_driven  \
0                           Maruti 800 AC  2007          60000      70000
1                Maruti Wagon R LXI Minor  2007         135000      50000
2                    Hyundai Verna 1.6 SX  2012         600000     100000
3                  Datsun RediGO T Option  2017         250000      46000
4                   Honda Amaze VX i-DTEC  2014         450000     141000
...                                   ...   ...            ...        ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014         409999      80000
4336           Hyundai i20 Magna 1.4 CRDi  2014         409999      80000
4337                  Maruti 800 AC BSIII  2009         110000      83000
4338     Hyundai Creta 1.6 CRDi SX Option  2016         865000      90000
4339                     Renault KWID RXT  2016         225000      40000

        fuel seller_type transmission         owner
0     Petrol  Individual       Manual   First Owner
1     Petrol  Individual       Manual   First Owner
2     Diesel  Individual       Manual   First Owner
3     Petrol  Individual       Manual   First Owner
4     Diesel  Individual       Manual  Second Owner
...      ...         ...          ...           ...
4335  Diesel  Individual       Manual  Second Owner
4336  Diesel  Individual       Manual  Second Owner
4337  Petrol  Individual       Manual  Second Owner
4338  Diesel  Individual       Manual   First Owner
4339  Petrol  Individual       Manual   First Owner

[4340 rows x 8 columns]